useDynLib(RcppKamiClusterTesting, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "dev.new", "rainbow")
importFrom("graphics", "axis", "boxplot", "legend", "lines", "matplot","par", "title")
import(ggplot2)
import(grid)
import(gridExtra)
import(viridis)
import(latex2exp)
import(patchwork)
exportPattern("^[[:alpha:]]+")
export(data)
